<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml" id="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="web pinolabs">
<meta name="author" content="PinoLabs">
<title>KevinStore.cl</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/tienda.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://kit.fontawesome.com/b6cd2b590e.js" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</head>
<body>
  <!-- Menu --> 
<div class="menu">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand me-auto" href="#">kevinstore.cl</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin}">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/producto/all}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cliente/all}">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/venta/all}">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Fin Menu -->
<main>
    <h3 class="span loader centro">
      <span class="m">L</span>
      <span class="m">I</span>
      <span class="m">S</span>
      <span class="m">T</span>
      <span class="m">A</span>
      <span class="m">D</span>
      <span class="m">O</span>
      <span class="m">&nbsp;</span>
      <span class="m">D</span>
      <span class="m">E</span>
      <span class="m">&nbsp;</span>
      <span class="m">P</span>
      <span class="m">R</span>
      <span class="m">O</span>
      <span class="m">D</span>
      <span class="m">U</span>
      <span class="m">C</span>
      <span class="m">T</span>
      <span class="m">O</span>
      <span class="m">S</span>
    </h3>
    <br>
    <section class="container">
      <table class="table table-stripe" id="productos">
        <thead>
        <tr class="centro">
          <th>Nombre</th>
          <th>Precio</th>
          <th>SKU</th>
          <th>Categoria</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr  class="centro" th:each="producto: ${productos}">
          <th th:text="${producto.getNombre()}">Esto es el text</th>
          <td th:text="${producto.getPrecio()}">Esto es el text</td>
          <td th:text="${producto.getSku()}">Esto es el text</td>
          <td th:text="${producto.categoriaDTO.nombre}">Esto es el text</td>
          <td><a th:href="@{/producto/{id}(id=${producto.getIdProducto()})}"><i class="fa-solid fa-user-pen"></i></a>
            <a th:href="@{/producto/del/{id}(id=${producto.getIdProducto()})}"><i class="fa-solid fa-trash"></i></a></td>
        </tr>
        </tbody>
      </table>
      <br>
      <div class="row">
        <div class="col">
          <a th:href="@{/producto/new}" class="btn btn-primary">Crear Producto</a>
        </div>
        <div class="col-auto">
          <a th:href="@{/home}" class="btn btn-primary">volver</a>
        </div>
      </div>
    </section><!-- tabla -->
  </main>
<!-- container -->
<!-- Scrípts -->
<script th:inline="javascript">
const productos = /*[[${productos}]]*/ null;

$(document).ready( function () {
$('#productos').DataTable();
} );
</script></main>
</body>
</html>