<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/xhtml" id="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="web pinolabs">
    <meta name="author" content="PinoLabs">
    <title>kevinstore.cl</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/b6cd2b590e.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
</header>
<main>
    <!-- container -->
    <section class="col-md centro">
        <img class="centro" src="https://i.ibb.co/L50mxLB/logo.png">
        <h3 class="span loader centro typingEfect">
            <span class="m">K</span>
            <span class="m">E</span>
            <span class="m">V</span>
            <span class="m">I</span>
            <span class="m">N</span>
            <span class="m">S</span>
            <span class="m">T</span>
            <span class="m">O</span>
            <span class="m">R</span>
            <span class="m">E</span>
            <span class="m">.</span>
            <span class="m">C</span>
            <span class="m">L</span>
        </h3>
        <small>
            <p>Tiendita De Producto Para Tus Bebes</p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tienda}">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">login</a>
                </li>
            </ul>
        </small>
    </section>
    <!-- container -->
</main>
</body>
</html>