<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml" id="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="web pinolabs">
<meta name="author" content="PinoLabs">
<title>KevinStore.cl</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://kit.fontawesome.com/b6cd2b590e.js" crossorigin="anonymous"></script>
</head>
<body>
<main>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://i.ibb.co/gmGz0Qd/success.png" alt="" width="100">
        <h1 class="display-5 fw-bold">Compra Realizada Con Exito !!</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Gracias por confiar en nostros! tu pedido sera enviado a la brevedad !</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" class="btn btn-outline-secondary btn-lg px-4"  th:href="@{/home}">Voler al Home</a>
              <a type="button" class="btn btn-outline-secondary btn-lg px-4"  th:href="@{/logout}">Salir</a>
          </div>
        </div>
      </div>

</main>
<!-- Scrípts -->
</body>
</html>