<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Test</title>
</head>
<body>

<script type="text/javascript">
	 function conectar(){//para enviar la venta 
      function exito() {
      	console.log(data);
        //xhr.send(JSON.stringify(venta)); tampoco como json la agarra :c 
      }
      // funcion para la llamada fallida
      function error(err) {
          console.log('Solicitud fallida', err); //los detalles en el objecto "err"
      }
      var xhr = new XMLHttpRequest(); //invocar nueva instancia de XMLHttpRequest
      xhr.onload = exito; // llamar a la funcion exito si exitosa
      xhr.onerror = error;  // llamar a la funcion error si fallida
      xhr.open('get', 'http://localhost:8080/kevinstore/api/venta/all'); // Abrir solicitud GET
      xhr.send(); // mandar la solicitud al vervidor.
  }*/
</script>
</body>
</html>